@import url("../css/open-iconic/font/css/open-iconic-bootstrap.min.css");
html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none !important; }

*::before,
*::after {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: inherit; }

ol,
ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0 !important;
  padding: 0 !important; }

a, button {
  text-decoration: none;
  padding: 0 !important;
  margin: 0 !important;
  display: inline-block;
  transition: all .3s ease-in-out; }

a:hover,
a:link,
a:visited {
  text-decoration: none; }

input,
button {
  outline: none !important;
  border: none; }

i {
  outline: none; }

body {
  overflow-x: hidden;
  position: relative; }

*:focus {
  outline: none !important; }

.header {
  background-color: #272c30;
  padding: 3px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  .header-left {
    padding: 10px 15px;
    width: 70%; }
    @media only screen and (max-width: 400px) {
      .header-left p {
        display: none; } }
  .header-right {
    width: 30%; }
    .header-right a {
      padding: 5px !important; }

.main {
  min-height: calc(100vh - 91px);
  transition: all .3s ease-in-out;
  margin-top: 50px;
  padding: 20px 0; }
  @media only screen and (max-width: 876px) {
    .main {
      width: 100%;
      margin-left: 0; } }
  @media only screen and (min-width: 877px) {
    .main {
      width: 80%;
      margin-left: 20%; } }

.sidepanel {
  position: fixed;
  width: 15%;
  min-width: 180px;
  left: 0;
  height: calc(100vh - 50px);
  top: 50px;
  padding: 10px 15px;
  border-right: 1px solid #dfe0e1;
  transition: all .3s ease-in-out; }
  .sidepanel .nav-item {
    padding: 4px 8px !important; }
  .sidepanel li {
    margin-bottom: 16px !important; }
    .sidepanel li:hover a {
      color: black; }
    .sidepanel li a {
      line-height: 1; }
      .sidepanel li a span {
        margin-right: 10px; }
      .sidepanel li a:first-of-type p {
        margin-bottom: -3px !important; }

.footer {
  border-top: 1px solid #d6d5d5;
  background-color: #f7f7f7; }
  @media only screen and (min-width: 877px) {
    .footer {
      width: 100%; } }
  @media only screen and (max-width: 400px) {
    .footer p {
      font-size: 14px; } }

.sidepanelTriggered {
  left: -500px; }

.mainTriggered {
  width: 100%;
  margin-left: 0; }

.footerTriggered {
  width: 100%;
  margin-left: 0; }
